.spacer{
    flex: 1 1 auto;
}
.container{
    width: 100%;
    height: 100%;
    // background-color: aqua;
    z-index: 1;

}
.content{
    // width: 100%;
    // height: 100%;
    z-index: 10;

    // background-color: rgb(217, 255, 0);
}
.contentArtikel{
    position: absolute;
    top:300px;
}
.content_kiri{
    color: blue;
    opacity: 75%;
    padding: 10px;
    border-radius: 10px;
    background-color:black;// rgba(227, 241, 237, 0.986);
}
.content_kanan{
    width: 100%;
    border-radius: 10px;
    background-color: rgba(220, 233, 46, 0.534);
    // background-color: beige;
}

.slideGambar{
    position: absolute;
    margin-top: 40px;
    top:65px;
    left:25%;
    width: 50%;
    height:90px;
}


.imageNya{
    //sumber: https://bennettfeely.com/clippy/
    // clip-path: ellipse(65px 30px at 125px 40px);
    position: absolute;
    z-index:2;
    width: 100%;
    height: 100%;
    clip-path: ellipse(78% 40% at 82% 32%);

    background-image: linear-gradient(to right,rgb(45, 94, 168), white);
}
.header{
    z-index: 20;
    // position: absolute;
    position: fixed;

    color:white;
    font-size: 16px;
    font-weight: 600;
    top:0;
    width: 100%;
    height: 50px;
    // background-image: linear-gradient(to right,rgb(39, 243, 39), white);
    background-color:  rgb(0, 119, 255);
}

.navigasi{
    // text-align: right;
    // right:50px;
    margin-right: 50px;
    position: relative;
    z-index: 21;
}
.navigasi li{
    list-style: none;
}
.navigasi li a{
    display: inline-block;
    text-decoration: none;
    padding-left: 50px;
    color: white;
}

// sub menu awal
.dropbtn{
    background-color:  rgb(0, 119, 255);
    color:white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    border: none;
    // margin-left: 40px;
    padding-left: 50px;
}
.dropdown{
    display: inline-block;
    // margin-left: 40px;
    margin-top: -15px;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(0, 119, 255);
    border-radius: 5px;
    margin-left: 45px;
    width: 100%;

    z-index: 11;
}

.dropdown-content a {
    display: block;
    padding: 5px;
    text-decoration: none;
}
.show {display: block;}
// sub menu akhir 
.footer{
    z-index: 22;
    position: fixed;
    color:white;
    font-size: larger;
    top:90%;
    width: 100%;
    height:80px;
    // background-image: linear-gradient(to right,rgb(39, 243, 39), white);
    background-color:  rgb(0, 119, 255);
}

nav {

    background: #222;
    padding: 0 15px;
    height: 100%;
}
a {
    color: white;
    text-decoration: none;
}
.menu,
.submenu {   
    list-style-type: none;
}
.logo {
    font-size: 20px;
    padding: 7.5px 10px 7.5px 0;
}
.item {
    padding: 10px;
}
.item.button {
    padding: 9px 5px;
}
.item:not(.button) a:hover,
.item a:hover::after {
    color: #ccc;
}
@media (max-width: 599px) {
    .headerMobile{
        z-index: 20;
        // position: absolute;
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: blue;
    }

/* Mobile menu */
.menu {
    z-index: 23;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.menu li a {
    display: block;
    // padding: 15px 5px;
}
.menu li.subitem a {
    padding: 15px;
}
.toggle {
    order: 1;
    font-size: 20px;
}
.item.button {
    order: 2;
}
.item {
    order: 3;
    width: 100%;
    text-align: center;
    // display: none;
}
.active .item {
    display: block;
}
.button.secondary { /* divider between buttons and menu links */
    border-bottom: 1px #444 solid;
}

/* Submenu up from mobile screens */
.submenu {
    display: none;
}
.submenu-active .submenu {
   display: block;
}
.has-submenu i {
    font-size: 12px;
}
.has-submenu > a::after {
    // font-family: "Font Awesome 5 Free";
    font-family: "Material Icons";
    font-size: 12px;
    line-height: 16px;
    font-weight: 900; 
    // content: "\f078";
    content: "arrow_drop_down";
    color: white;
    padding-left: 5px;
}
.subitem a {
    padding: 10px 15px;
}
.submenu-active {
    background-color: #111;
    border-radius: 3px;
}

/* Dropdown Button */
 .dropbtnM {
    background-color:#222; /* 3498DB ;  rgb(102, 230, 102); */
    color: white;
    // padding: 16px;
    font-size: 18px;
    // font-size: 24px;
    // font-weight: 400;
    border: none;
    cursor: pointer;

    
  }
  


  /* Dropdown button on hover & focus */
  .dropbtnM:hover, .dropbtn:focus {
    /*background-color: #2980B9;*/
     font-weight: bold;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdownM {
    width: 100%;
    position: relative;
    display: inline-block;

  }
  
  /* Dropdown Content (Hidden by Default) */
  .ikonArrow{
    margin-top: 10px;
  }
  .dropdown-contentM {
      display: none;
      border-radius: 4px;
      position: absolute;
      // background-color: rgb(102, 230, 102);; /* f1f1f1 */
      background-color:#111;
      text-align: center; 
      min-width: 160px;
      width: 100%;
      left:0px;
    //   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      cursor: pointer;
    //   z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-contentM a {
  
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-contentM a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;} 

}